<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.workersjoint.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.workersjoint.app.Bean"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity
            android:name="com.workersjoint.app.UpdateWorkerProfessional"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.UpdateWorkerPersonal"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.UpdateContractor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.UpdateBrand"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.TermsAndConditions3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Complaint"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Support"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.CreatePIN2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.OTP3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.CompletedContractorProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.CompletedBrandProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.CompletedProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.TermsAndConditions2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Profile6"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Profile5"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Profile4"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.MainActivity4"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.ChooseType"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Knowledge"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.TermsAndConditions"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.ChipTest"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Web"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.EnterPIN"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.CreatePIN"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.FilterContractorJob"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.ContractorApplicantDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.ContractorJobByCompany"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.JobDetails2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.ContractorApplicants"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.UpdateContractorJob"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.ContractorJobDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.SingleContgractor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.FilterWorkerJob"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.WorkerApplicantDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.WorkerJobByCompany"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.SingleWorker"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.WorkerApplicants"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.UpdateWorkerJob"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.WorkerJobDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.PostJobContractor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.ChooseJob"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.MainActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Register3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.JobDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.PostJob"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Register2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Sliders"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.UpdateProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.REgister"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.OTP2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.ChooseAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.OTP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.SignupLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.workersjoint.app.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.workersjoint.app.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.workersjoint.app.MyFirebaseMessagingService"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>